@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&display=swap");

*{
    margin: 0;
    padding: 0;
    transition: all 2s linear;
  /* background-image: url('bac.jpg'); */

}

  body{
    /* background-image: url('bac.jpg'); */
    background: black;
    /* background-image: url('back.jpg'); */
  }
.nav{  
    
    
    margin-top: .8rem;
    display: flex;
    justify-content:space-between;
    border-radius: 2rem;
    display: flexbox; 
    background-color: rgba(235, 25, 25, 0.594);
     
}

.nav .left img {
    margin-left: .5rem;
    margin-top: .3rem;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
} 

.nav .left{

}

.nav .right{
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.nav a{
   
    color: white;
    font-size: 1.3rem;
    font-family:'Times New Roman', Times, serif; 
    text-decoration: none;
    margin-right: 1rem;
}

/*content section*/

.content{

margin-top: 1rem;
 display: flex;
 justify-content: space-between;
}

.content .right{
    flex: .33;
    /* background-color: white; */
}

.content .left{
   margin-left: 1rem;
  flex: .5;
  display: flex;
  flex-direction: column;
  /* background-color: aliceblue; */
}

.contact{
    /* background-color: black; */
    display: flex;
    
}

#btn1{ 
    
    box-shadow: 2px 1px 5px 8px rgb(0, 208, 255);
    border-color: blue;
}
#btn1{ 
    color: lightblue;
    box-shadow: 2px 1px 5px 8px rgb(0, 208, 255);
    border-color: blue;
}
#btn2{ 
    color: blue;
    box-shadow: 2px 1px 5px 8px white;
    border-color: blue;
}
#btn3{ 
    color: rgba(255, 64, 0, 0.906);
    box-shadow: 2px 1px 5px 8px rgb(255, 123, 0);
    border-color: rgb(255, 55, 0);
}
#btn4 { 
    color: violet;
    box-shadow: 2px 1px 5px 8px rgb(255, 0, 251);
    border-color: violet;
}  

#btn1:hover, #btn2:hover,#btn3:hover,#btn4:hover{
    cursor: pointer;
    transform: scale(1.2);
    
}

 .contact button{
    border-top-right-radius: 20px; /*border on the top right corner*/
    border-bottom-left-radius: 20px; /*border on the top right corner*/
    height: 3rem;
    width: 7.5rem;
    background-color: black;
    margin-right: 1rem;
    
   
 }
 .contact button p{
   
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;

   
    
 }

.content .right img{
    height: 50vh;
  

}
 .robo{
    display: flex;
    justify-content: center;
    align-items: center;
 }

.script {
    color: white;
    font-size: 3rem;
    font-weight: bold;
}

/* education section starts */
.education {
     background: transparent;
    /* background: #e5ecfb; */
    min-height: 80vh;
  }
  
  .heading{
    margin-top: 4rem;
    padding-top: .5rem;
   color: white;
    height: 3rem;
   
     background: transparent;
     box-shadow: 10px 0px 5px 5px skyblue;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .education .box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .education .box-container .box {
    display: flex;
    flex-direction: row;
    width: 80%;
    border-radius: 0.5rem;
    box-shadow: 0.2rem 0.5rem 1rem rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
    margin-top: 2rem;
    overflow: hidden;
    transition: 0.3s;
    background: rgb(252, 252, 252);
  }
  .education .box-container .box:hover {
    transform: scale(1.03);
    box-shadow: 1rem 0.5rem 1.2rem rgba(0, 0, 0, 0.3);
  }
  .education .box-container .box .image {
    flex: 1 1 20rem;
    width: 100%;
  }
  .education .box-container .box img {
    object-fit: cover;
    position: relative;
    width: 100%;
    height: 100%;
  }
  .education .box-container .box .content {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    flex-wrap: wrap;
    flex: 1 1 70rem;
  }
  .education .box-container .box .content h3 {
    font-size: 2.5rem;
    color: #012970;
    padding: 0.5rem 0;
    font-weight: 600;
    text-align: left;
    margin-left: 1rem;
  }
  .education .box-container .box .content p {
    font-size: 1.5rem;
    margin-left: 1rem;
    text-align: left;
  }
  .education h4 {
    font-size: 2rem;
    color: rgb(34, 109, 0);
    text-align: left;
    margin: 1rem;
    font-family: "Nunito", sans-serif;
    font-weight: 700;
  }
  
  /* education media queries starts*/
  @media screen and (max-width: 600px) {
    .education .box-container .box {
      flex-direction: column;
      width: 100%;
    }
    .education .box-container .box .image {
      width: 100%;
      height: 25rem;
    }
    .education .box-container .box img {
      width: 100%;
    }
    .education .box-container .box .content {
      position: relative;
      display: flex;
      flex-direction: column;
      padding: 1rem;
      flex-wrap: wrap;
      flex: 0;
    }
    .education .btns {
      margin-top: 2rem;
      margin-left: 1rem;
      margin-right: 1rem;
      flex-wrap: wrap;
    }
  }
  /* education media queries ends*/
  /* education section ends */

/* about section starts */
.about {
   background: transparent;
  /* background: rgb(255, 255, 255); */
}
.about .row {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 4rem;
}
.about .row .image {
  text-align: center;
  /* flex: 1 1 35rem; */
}
.about .row .image img {
  margin: 4rem;
  width: 24rem;
  height: auto;
  border-radius: 5%;
  /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
  mix-blend-mode: luminosity; */
  transition: 0.3s;
  cursor: pointer;
}
.about .row .image img:hover {
  mix-blend-mode: normal;
}
.about .row .content {
  display: flex;
  flex-direction: column;
  flex: 1 1 45rem;
  padding: 3rem;
}
.about .row .content h3 {
  color: white;
  font-size: 2.5rem;
}
.about .row .content .tag {
  font-size: 1.4rem;
  color: white;
  font-weight: 600;
  margin-top: 1rem;
}
.about .row .content p {
  color: white;
  font-size: 1.5rem;
  margin-top: 1.5rem;
  font-family: "Nunito";
  font-weight: 600;
  text-transform: none;
}
.about .row .content .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  font-family: "Nunito";
  font-weight: 600;
}
.about .row .content .box-container .box p {
  text-transform: none;
}
.about .row .content .box-container .box p span {
  color: #011aff;
}
.resumebtn {
 
  margin-top: 6rem;
}
.resumebtn .btn {
  text-decoration: none;
  padding: 1.7rem 3rem;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  transition: 0.3s;
  color: #fff;
  background-color: black;
  box-shadow: 0px 8px 10px lightblue;
  font-family: "Nunito", sans-serif;
}
.resumebtn .btn span {
  font-weight: 600;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
}
.resumebtn .btn i {
  margin-left: 0.3rem;
  font-size: 1.2rem;
  transition: 0.3s;
}
.resumebtn .btn:hover {
  background: #1a047e;
}
.resumebtn .btn:hover i {
  transform: translateX(5px);
}
/* about media queries starts*/
@media screen and (max-width: 600px) {
  .about .row .image {
    margin-top: 2rem;
  }
  .about .row .image img {
    margin: 0 auto;
    width: 80%;
    mix-blend-mode: normal;
  }
  .about .row {
    padding: 0.5rem;
    margin-bottom: 7rem;
  }
  .about .row .content {
    padding: 1rem;
  }
  .about .row .content .box-container {
    gap: 0;
  }
}
/* about media queries ends*/
/* about section ends */







.footer{
  /* background-color: blue; */
 box-shadow: 10px 10px 10px 10px lightblue;
  background: transparent;
  height: 14rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer_heading{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  font-size: larger;
}

.footer_content button{
  margin-top: 2rem;
  width: 9rem;
  height: 3rem;
  font-size: larger;
  font-weight: bold;
  color:orangered;
  background-color: black;
  box-shadow: 2px 1px 5px 8px orangered;
  border-radius: 10px 10px ;
}

.other{ 
  background: fixed;
  background-image: url('./images/back.jpg');
}

.heading {
  position: relative;
  font-size: 24px;
  font-weight: bold;
  color:  blue;
  animation: moveText 3s linear infinite;
}

@keyframes moveText {
  0% { transform: translateX(0); }
  50% { transform: translateX(100px); }
  100% { transform: translateX(0); }
}
